@import url(https://fonts.googleapis.com/css?family=Dosis:700);
:root{
    --light-text_color: rgba(31,41,55,1);
    --light-h2_color:rgba(239,68,68,1);
    --bg-red-500:#7EC8E3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}

.battery-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;
  padding: 10px;


  max-width: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 20px;
}

.item {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  margin-right: 20px;
}

span {
  font-size: 1.5rem;
  font-weight: 400;
  color: purple;
}

a {
  text-decoration: none;
  color: purple;

  padding: 5px 5px;
  border: 1px solid purple;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
footer{
  position: absolute;
  bottom: 0;
  
  width: 100%;
  }
  footer .bg-red-500{
      background-color: var(--bg-red-500);
  }
  footer .fb{
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      align-items: center;
      color: rgba(249,250,251,1);
  }
  footer .copyright{
      font-size: .875rem;
      line-height: 1.25rem;
      font-family: "Dosis", Helvetica, Arial, sans-serif; 
      letter-spacing: 1.4px;
  }
  footer .fb a i{

      /* color: rgba(249,250,251,1); */
      color: rgb(8, 8, 92);
      padding: 1px;
  }
  
@media screen and (max-width: 720px) {
  .battery-container {
    background-color: aliceblue;
    height: 83vh;
    margin-bottom: 90px;
    
  }
  header {
    border: none;

  }
  footer{
    position: relative;

}
footer .fb{
    flex-direction: column;
  height: 103px;
}
}
@media screen and (max-width: 380px) {
  footer .fb{
    flex-direction: column;
  height: 107px;
}
footer .social{

  display: flex;
}
a{
  padding: 0;
  border: none;
}

}